[Unit]
Description=Machinist managed worker
After=network-online.target machinist-control-plane.service
Wants=network-online.target
Requires=machinist-control-plane.service

[Service]
Type=simple
User=root
Group=root
Environment=HOME=/root
WorkingDirectory=/root
ExecStart=/usr/local/bin/machinist worker start
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
